<div class="issue-heading">
  <div class="container">
    <%= @issue.title %>
    <% if current_user && current_user == @issue.user %>
      <%= link_to "Destroy", issue_path(@issue), method: :delete, data: {confirm: "Are you sure to delete this activity?"}, class: "btn btn-primary" %>
      <%= link_to 'edit', edit_issue_path(@issue), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="replies">
    <article class="reply clearfix">
      <div class="avatar">
         <%= image_tag @issue.user.avatar, class: "image-circle" %>
      </div>
      <div class="body">
        <div class="heading">
          <h5 class="name"><%= link_to @issue.user.name, "#" %></h5>
        </div>
        <%= markdown(@issue.content) %>
      </div>
    </article>
    
    <% @comments.each do |comment|%>
      <%= render partial: 'shared/comment', locals: {comment: comment} %>
      <!-- 这里的变量赋值是 将这个代码块中的 comment 变量赋值给 局部变量 comment，供 shared/_comment.html.erb 使用-->
    <% end %>
  </div>  

  <div>
  <% if current_user %>
    <%= render partial: 'shared/comment_box', locals: {issue: @issue}  %>
    <!-- 这里是加载添加评论的方框，期中变量赋值是将当前的这个实例变量@issue赋值给局部变量issue，因为每条评论都必须对应一个活动
    供 shared/_comment_box.html.erb 使用， 也就是创建相应的评论是必须得加上参数： Comment.new(:issue_id => issue.id, :user_id => current_user.id)-->
  <% else %>
    <%= link_to "请先登陆，再发表评论", login_path %>
  <% end %>
  </div>

</div>